.shoppingCartList__1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ulCart{
  padding: 0;
}
.shoppingCartList__items img {
  width: 150px;
}

.shoppingCartList__description {
  font-size: 16px;

}

.hr__cart {
  width: 95%;
  height: 0;
  border: medium none;
  border-top: 1px dashed rgb(0, 0, 0);
  opacity: 0.3;
}

.shoppingCartList__coment {
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  gap: 5px;
}

.button_shopping {
  border-radius: 5px;
  outline: none;
  border: none;
  height: 30px;
}

.counterCart{
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: #081F2D;
  min-width: 100px;
  width: 100px;
  height: 30px;
}

.buttonsCart{
  background-color: transparent;
  width: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 30px;
}

.delectIcon{
  font-size: 25px;
}
