.expeContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #F8D9A6;

}

.expeContainer__img-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: end;
  align-items: center;
  width: 100%;
  color: #eda025;
  justify-content: center;
  gap: 20px;

}

.expeContainer__img{

}

.expeContainer__p p{
  font-size: 10px;
}
.expeContainer img{
  width: 100%;
  max-width: 693px;
  transition: all 300ms;
  position: relative;

}

.expeContainer img:hover {
  transform: scale(1.07);
}

.expeContainer__text {
  padding: 20px;
}

.hrTexr{
  margin-top: 5%;
  text-align: center;
  border:         none;
  height:         38vh;
  width:          2px;
  padding-left: 0px;

}

.expeContainer__img-text p{
  display: flex;
  text-align: start;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}
