.sopping-cart__header {
  font-size: 12px;
}

.hr__cart1{opacity: 0.5;
  box-shadow: 2px 2px 5px rgb(121, 120, 120);
}

.hr__shoppingCart {
  opacity: 0.5;
  box-shadow: -2px -2px 5px rgb(121, 120, 120);
}
