.hederContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.miniContainer__logoLink img{
  width: 200px;
}

.hederContainer1__Logo {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  padding-left: 430px;
}

.hederContainer1__extra {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 30px;
  padding-right: 40px;
}

.hederContainer1__extra p{

}

.headerContainer2 {
  display: flex;
  justify-content: center;
}

.lists {
  list-style: none;
  display: flex;
  gap: 100px;
  color: #E58624;
}

